#loader {
  margin: 0 auto;
  width: min-content;
  text-align: center;
}
.spiner {
  border: 16px solid var(--tr-odd-color);
  border-top: 16px solid var(--table-bg-header);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
